.IntroContainer {
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    text-align: left;
    color: rgb(255, 255, 255);
    line-height: 24px;
}

.line {
    margin-bottom: 20px;
    border-width: 2px;
    width: 300px;
    height: 3px;
    background-color: #ffffff9a;
}

.LeftPanel {
    line-height: normal;
    margin-top: 25%;

}

.RightPanel {
    width: 100%;
    background-color: rgb(255, 123, 0, 0);
}

.Title {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 10%;
}

.SubText {
    padding-bottom: 20px;
    font-size: 1rem;
}
.SubTextBold {
    padding-bottom: 20px;
    font-size: 1rem;
    font-weight: bold;
}
@media screen and (max-width: 960px) {
    .SubText {
      
        font-size: 13px;
        line-height: 14px;
    }
    .LeftPanel {
        width: 100%;
    }
    .line {
        margin-left: 25%;
        margin-right: 25%;
    }
    .IntroContainer {
        grid-template-columns: auto;
        display: grid;
        text-align: center;
    }
}